{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container">
    <a href="{% url 'home' %}">Go back button</a>
    <h3>{{ list.name }}</h3>
    <p>{{ list.created_on }}</p>
    <div class="list-container">
        <ul>
            {% for item in items %}
            <li>
                <input type="checkbox" {% if item.checked == True %} checked {% endif %}>
                <span>{{ item.content }}</span>
            </li>
            {% endfor %}
            <li>
                <input type="text"> <!--does this needs to be a form?-->
                <button>Add item</button>
            </li>
        </ul>
    </div>
    <button>SAVE</button>
    <button>SHARE</button>
    <a href="{% url 'list_delete' list.id %}">DELETE LIST</a>
</div>
{% endblock%}