{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container" id="top-container">
    <div class="row centered">
        <h3 class="col-6 list-heading">{{ list.name }}</h3>
        <a href="{% url 'home' %}" class="col-4">Go back button</a>
    </div>
    <div class="row centered">
        <p>Created: {{ list.created_on }}</p>
    </div>
    <div class="row centered">
        <div class="list-container">
            <ul>
                {% for item in items %}
                <li>
                    <input type="checkbox" {% if item.checked == True %} checked {% endif %}>
                    <span>{{ item.content }}</span>
                    <i>Delete logo</i>
                </li>
                {% endfor %}
                <li>
                    <input type="text"> <!--does this needs to be a form?-->
                    <button>Add item</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row button-row">
        <button class="btn btn-primary">SAVE</button>
        <button class="btn btn-primary">SHARE</button>
        <a class="btn btn-primary"  href="{% url 'list_delete' list.id %}">DELETE LIST</a>
        <button id="delete-list-button">Test delete</button>
    </div>
</div>

<!--Delete confirmation toast-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="deleteListToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <span class="toast-body">
        You list has been deleted.
      </span>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock extras%}