{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container" id="top-container">
    <div class="row centered">
        <h3 class="col-6 list-heading">{{ list.name }}</h3>
        <a href="{% url 'home' %}" class="col-4">Go back button</a>
    </div>
    <div class="row centered">
        <p>Created: {{ list.created_on }}</p>
    </div>
    <div class="row centered">
        <div class="list-container">
            <ul>
                {% for item in items %}
                <li>
                    <input type="checkbox" {% if item.checked == True %} checked {% endif %}>
                    <span>{{ item.content }}</span>
                    <form action="{% url 'delete_item' item.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit">Delete item</button>
                    </form>
                </li>
                {% endfor %}
                <li>
                  <form action="{% url 'create_item' list.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="new-item">
                    <button type="submit">Add item</button>
                  </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="row button-row">
        <button class="btn btn-primary">SAVE</button>
        <button class="btn btn-primary">SHARE</button>
        <button class="btn btn-primary" id="delete-list-button">DELETE LIST</button>
    </div>
</div>

  <!--Delete list confirmation modal-->
  <div class="modal fade" id="delete-confirmation-modal" tabindex="-1" aria-labelledby="delete-confirmation-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteListLabel">Are you sure you want to delete the list?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'list_delete' list.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Delete list</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!--Delete list confirmation toast-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="deleteListToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <span class="toast-body">
        You list has been deleted.
      </span>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock extras%}