{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- list_list.html content starts here -->
{% if user.is_authenticated %}
<h3 id="username-heading">{{user}}'s lists</h3>

{% for list in lists %}
    <a href="{% url 'list_detail' list.id %}">
        <div class="card mx-auto p-2 card-title">
            {{ list.name }}
        </div>
    </a>

{% endfor %}
<a class="card mx-auto p-2" href="{% url 'create_list' user %}">
    <div>
        CREATE NEW LIST +
    </div>
</a>

<!-- for div above type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-list-modal" -->
{% else %}

<p>THIS IS START INFO</p>
{% endif %}

  <!-- Create new list Modal -->
  {% if modalOkay %}
  <div class="modal fade" id="new-list-modal" tabindex="-1" aria-labelledby="new-list-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create new list</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'edit_list' user %}" method="POST" id="ListName">
            {% csrf_token %}
            <label for="new-list">Add a list name</label>
            <input type="text" name="new-list" required>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save new list</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

<!-- list_list.html content ends here -->
{% endblock %}

{% block extras %}

<script src="{% static 'js/script.js' %}">
</script>

{% endblock extras%}