{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- list_list.html content starts here -->
{% if user.is_authenticated %}
<h3 id="username-heading">{{user}}'s lists</h3>

{% for list in lists %}
    <a href="{% url 'list_detail' list.id %}">
        <div class="card mx-auto p-2 card-title">
            {{ list.name }}
        </div>
    </a>

{% endfor %}
<a class="card mx-auto p-2" href="">
    <div>
        CREATE NEW LIST
    </div>
</a>
{% else %}

<p>THIS IS START INFO</p>

{% endif %}

<!-- list_list.html content ends here -->
{% endblock %}