/* General*/
h3 {
    text-align: center;
    margin: 15px 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: large;
}

/* Nav bar*/
.navbar {
    background-color: rgb(45, 175, 214);
    justify-content: space-between;
    padding: 20px;
}

nav h1 {
    text-transform: uppercase;
    font-size: x-large;
}

.link-container {
    display: flex;
}

/* List of lists page*/

.card {
    min-width: 50%;
    width: 65%;
    min-height: 80px;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    border: 3px solid black;
}

