nav {
    background-color: rgb(233, 210, 181);
    text-transform: capitalize;
    font-size: x-large;
}

.card {
    
    width: 60%;
}

.lol {
    border: 3px solid black;
}

.list-container {
    border: 2px solid black;
}

